@media (max-width: 480px) {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }

    .top__inner {
        margin: 0 10px;
    }

    .top__title {
        font-size: 40px;
    }


    .header__inner {
        padding: 0;
        min-height: auto;
    }

    .logo {
        margin-right: 56px;
        margin-left: auto;
    }

    .logo img {
        width: 40px;
        height: 56px;
    }
    .blockquote {
        margin: 60px 52px;
    }
    .blockquote__text {
        font-size: 16px;
    }

    .menu__list {
        transform: translateY(-100%);
        /*display: none;*/
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 480px;
        margin: 0 auto;
        background-color: #fff;
        display: block;
        text-align: center;
        padding-top: 60px;
        transition: transform .7s ease;
    }

    .menu__list.menu__list-open {
        transform: translateY(0%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu__item-mobile,
    .menu__item-close {
        display: block;
    }

    .menu__item.last__item {
        margin-bottom: 0;
    }

    .menu__item-close__button {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .menu__item {
        margin-bottom: 30px;
        font-size: 24px;
        font-family: 'Cormorant', serif;
    }

    .mobile__menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile__menu-item__border {
        width: 400px;
        border-top: 2px solid #F7F2EA;
    }

    .mobile__menu-item__border.first__child {
        margin-bottom: 60px;
    }

    .mobile__menu-item {
        margin-bottom: 35px;
    }

    .mobile__menu-item.last__item {
        margin-bottom: 0;
    }

    .menu__item-mobile {
        margin-top: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile__menu-list {
        width: 100%;
    }

    .menu__item-mobile__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 60px;
        padding: 20px 0;
        background-color: #F7F2EA;
    }

    .mobile-actions__item {
        padding-right: 70px;
    }

    .mobile-actions__item.last__item {
        padding-right: 0;
    }

    .menu__button {
        display: flex;
    }

    .menu {
        order: -1;
        margin-right: 0;
    }

    .user-actions {
        padding-left: 0;
    }

    .menu__list {
        max-width: 480px;
    }

    .user-actions {
        display: flex;
    }

    .user-actions__item-search {
        margin-left: 50px;
    }

    .mobile__menu-item__border {
        width: 400px;
    }

    .explore__tea__collection {
        margin: 0 32px 60px 32px;
    }
    .tea__collection-images {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0;
    }

    .tea-collection__item {
        grid-column: span 2;
    }

    .tea-collection__item.last__item {
        grid-column-end: 4;
    }

    .testimonials {
        padding: 0 10px;
    }

    .testimonials__title {
        margin: 50px 0 30px 0;
        font-size: 40px;
    }

    .testimonials__items {
        display: grid;
        grid-template-columns: 220px 220px;
        grid-template-rows: 220px 220px;
        gap: 30px 20px;
    }

    .testimonials-item__description {
        display: block;
        flex-direction: column;
    }

    .testimonials-item__description.last__item-mobile {
        margin-bottom: 0;
    }

    .testimonials-item__description.last__item-desktop {
    }

    .testimonials-item__description {
        width: 100%;
    }
    .tea__blog {
        margin: 60px 10px;
    }
    .tea__blog-title {
        margin-top: 0;
    }
    .articles__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 60px;
    }
    .articles__list-item__image {
        max-width: 230px;
    }
    .article__writer-name {
        margin: 0;
    }
    .subscribe {
        max-width: 480px;
    }
    .subscribe__container {
        margin: 50px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .subscribe__description {
        align-items: center;
    }
    .subscribe__description-action {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        margin-right: 0;
    }

    .subscribe__background-image.mobile {
        display: none;
    }

    .subscribe__description-text {
        font-size: 13px;
        text-align: center;
    }

    .form__group {
        display: flex;
    }

    .prioritise {
        margin: 60px 0;
    }
    .prioritise-title {
        text-align: center;
        font-size: 40px;
        margin-bottom: 30px;
    }

    .prioritise__list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: none;
    }

    .prioritise__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer {
        width: 480px;
    }

    .footer__wrapper {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .footer__description {
        display: flex;
        margin: 50px 85px 50px 10px;
        gap: 0 134px;
    }

    .footer-blockquote {
        padding: 0 10px;
        text-align: left;
        margin-bottom: 50px;
    }

    .in__touch {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .in__touch-title {
        margin-bottom: 10px;
    }

    .in__touch-text {
        margin: 0 10px;
        font-size: 13px;
    }

    .footer__contacts {
        display: flex;
        flex-direction: column;
    }

    .products__title {
        padding-bottom: 30px;
    }

    .company__title {
        padding-bottom: 30px;
    }

    .products__list-item {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .products__list-item.last__item {
        margin-bottom: 0;
    }

    .company__information__list-item {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .company__information__list-item.last__item {
        margin-bottom: 0;
    }

    .footer__bottom {
        display: flex;
        justify-content: space-evenly;
        gap: 0;
        margin: 50px 0 10px 0;
    }
    .contacts__list-wrapper {
        display: flex;
        flex-direction: row;
        gap: 0 20px;
        align-items: center;
        margin-bottom: 0;
    }
    .contacts__wrapper {
        gap: 0 20px;
        margin-bottom: 0;
    }
    .social__media img {
        width: 22px;
        height: 22px;
    }
    .contacts__list {
        justify-content: flex-end;
        gap: 10px;
        margin: 0;
    }
}
