@media (max-width: 768px) {
    .header__inner {
        padding: 30px 64px;
    }

    .top__inner {
        margin-left: 20px;
    }

    .blockquote {
        margin: 120px 0;
    }

    .tea__collection-images {
        display: flex;
        justify-content: center;
    }

    .explore__tea__collection {
        margin-bottom: 120px;
    }

    .testimonials__title {
        margin: 60px 0;
    }

    .testimonials__items {
        justify-content: center;
        margin-bottom: 82px;
        gap: 30px 76px;
    }

    .tea__blog {
        margin-bottom: 120px;
    }

    .tea__blog-title {
        margin: 120px 0 60px 0;
    }

    .articles__list {
        display: flex;
        /*flex-direction: column;*/
        justify-content: center;
        margin-bottom: 60px;

    }

    .articles__list li:nth-child(2n) {
        margin-left: 162px
    }


    .menu__list {
        transform: translateY(-100%);
        /*display: none;*/
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 480px;
        margin: 0 auto;
        background-color: #fff;
        display: block;
        text-align: center;
        padding-top: 60px;
        transition: transform .7s ease;
    }

    .menu__list.menu__list-open {
        transform: translateY(0%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu__item-mobile,
    .menu__item-close {
        display: block;
    }

    .menu__item.last__item {
        margin-bottom: 0;
    }

    .menu__item-close__button {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .menu__item {
        margin-bottom: 30px;
        font-size: 24px;
        font-family: 'Cormorant', serif;
    }

    .mobile__menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile__menu-item__border {
        width: 400px;
        border-top: 2px solid #F7F2EA;
    }

    .mobile__menu-item__border.first__child {
        margin-bottom: 60px;
    }

    .mobile__menu-item {
        margin-bottom: 35px;
    }

    .mobile__menu-item.last__item {
        margin-bottom: 0;
    }

    .menu__item-mobile {
        margin-top: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile__menu-list {
        width: 100%;
    }

    .menu__item-mobile__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 60px;
        padding: 20px 0;
        background-color: #F7F2EA;
    }

    .mobile-actions__item {
        padding-right: 70px;
    }

    .mobile-actions__item.last__item {
        padding-right: 0;
    }

    .menu__button {
        display: flex;
    }

    .menu {
        order: -1;
        margin-right: 0;
    }

    .subscribe {
        width: 768px;
    }

    .subscribe__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px 64px;
    }

    .subscribe__description {
        text-align: center;
    }

    .subscribe__description-action {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        /*width: 580px;*/
        margin: 0;
    }

    .prioritise {
        padding: 120px 64px;
    }

    .prioritise__list {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 30px;
    }
    .prioritise__list-item__image {
        margin-top: 34px;
    }

    .footer__wrapper {
        display: flex;
        justify-content: center;
        margin: 50px 64px 70px 64px;
        gap: 0 66px;
    }
    .footer__description {
        display: flex;
        gap: 0 52px;
        font-size: 16px;
    }
    .footer__contacts {
        width: min-content;
        min-width: 270px;
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }
    .footer-blockquote {
        margin-bottom: 50px;
    }
    .quote-author {
        display: flex;
        flex-direction: column;
    }
    .contacts__wrapper {
        margin: 20px 0;
    }
    .contacts__list {
        gap: 4px 0;
    }
    .contacts__list-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px 0;
    }

}