@media screen and (min-width: 960px) {

    .header__inner {
        padding: 30px 20px;
    }

    .menu__list {
        margin-left: 0;
    }

    .user-actions__item-search {
        margin-left: 50px;
    }

    .top {
        padding: 0 20px;
    }

    .top__title {
        font-size: 60px;
    }

    .top__text {
        font-size: 24px;
    }

    .blockquote {
        margin: 120px auto;
    }

    .tea-collection__item-image {
        width: 164px;
        height: 164px;
    }

    .explore__tea__collection {
        margin-bottom: 120px;
    }

    .tea__collection-images {
        display: flex;
        gap: 4px;
    }

    .testimonials {
        padding: 60px 0;
    }

    .testimonials-item__description.last__item-desktop.hidden {
        display: none;
    }

    .tea__blog {
        padding: 120px 0;
    }

    .articles__list {
        margin: 60px 30px;
        gap: 68px 20px;
    }

    .articles__list-item {
        max-width: 460px;
        width: max-content;
        height: fit-content;
    }

    .articles__list-item__description {
        display: flex;
        flex-direction: column;
    }

    .articles__list-item__image {
        max-width: 230px;
        max-height: 153px;
    }

    .article__writer-name {
        margin: 10px 0 20px 0;
        font-size: 13px;
    }

    .article__link {
        font-size: 13px;
    }

    .subscribe__container {
        display: flex;
        margin: 60px 60px;
        flex-direction: column;
        align-items: center;
    }

    .subscribe__description {
        text-align: center;
    }

    .subscribe__description-action {
        max-width: 580px;
        font-size: 13px;
    }

    .prioritise {
        margin: 120px 100px;
    }

    .prioritise__list {
        display: grid;
        grid-template-columns:  auto auto;
        gap: 30px 160px;

    }

    .prioritise__list-item__image {
        margin-top: 34px;
    }

    .footer {

    }

    .footer__wrapper {
        margin: 100px 0 55px 0;
        gap: 0 42px;
    }

    .footer__description {
        display: flex;
        gap: 0 40px;
        font-size: 16px;
    }

    .footer__contacts {
        gap: 0 44px;
    }

    .footer-blockquote {
        max-width: 270px;
    }

    .in__touch {
        max-width: 270px;
    }

    .contacts__list-wrapper {
        display: flex;
        flex-direction: column;
        gap: 52px 0;
    }

    .footer__bottom {
        justify-content: flex-start;
        padding-left: 20px;
    }
}