html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
    padding: 0;
}

p {
    margin: 0;
}

button {
    padding: 0;
    border: none;
    background: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #151618;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}


.top {
    background-image: url("../images/top-bg.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    max-height: 142px;
    /*max-width: 1200px;*/
}

.top__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: Cormorant, serif;
    min-height: 500px;
    color: #fff;
    margin-left: 200px;
}

.blockquote {
    display: flex;
    justify-content: center;
    margin: 150px auto;
}

.blockquote__text {
    text-align: center;
    font-family: Cormorant, serif;
    font-size: 40px;
    font-style: italic;
    line-height: normal;
    width: 100%;
    max-width: 704px;
    margin: 0;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 0 65px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 85px;
    position: relative;
    z-index: 3;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.user-actions__item-search {
    margin-left: 80px;
}

.menu__button {
    display: none;
    width: 40px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.menu--close {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    transition: background-color .5s ease;
}

.menu--close.menu--open {
    display: block;
}

.menu__item-close__button {
    cursor: pointer;
}

.menu__item-mobile,
.menu__item-close {
    display: none;
}

.menu__button span {
    background-color: #000;
    height: 2px;
    width: 100%;
}

.top__title {
    font-size: 60px;
    margin-bottom: 20px;
    max-width: 790px;
    font-weight: 300;
    line-height: 1;
}

.top__text {
    font-size: 24px;
    margin-bottom: 48px;
    max-width: 560px;
    line-height: normal;
}

.explore__tea__collection {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Cormorant, serif;
    margin-bottom: 150px;
    flex-wrap: wrap;
}

.explore__tea__collection-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tea-collection__title {
    margin-bottom: 60px;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 1;
    color: #151618;
}

.tea-collection__item-description {
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #151618;
    margin-top: 10px
}


.tea-collection__item-image {
    max-width: 208px;
    max-height: 208px;
    width: 100%;
    height: 100%;
}

.tea__collection-images {
    display: flex;
    flex-direction: row;
    gap: 0 40px;
    flex-wrap: wrap;
}

.tea-collection__item {
    text-align: center;
}

.testimonials {
    background-color: #F7F2EA;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.testimonials__container {
    width: 100%;
    max-width: 1200px;
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__title {
    font-family: 'Cormorant', serif;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 60px;
}

.testimonials__items {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    gap: 0 26px;
    flex-wrap: wrap;
}

.testimonials-item__description {
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px 0;
}

.testimonials-item__description-text {
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
    line-height: 22px;
}

.testimonials-item__description-user__name {
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
}

.tea__blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cormorant, serif;
}

.tea__blog-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0;
}

.articles__list {
    font-family: Cormorant, serif;
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px 58px;
    flex-wrap: wrap;
}

.articles__list-item {
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 180px;
    max-width: 542px;
}

.articles__list-item__image {
    order: -1;
}

.article__link {
    margin-bottom: 0;
}

.articles__list-item__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.article__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.article__writer-name {
    margin: 10px 0 48px 0;
}

.tea__blog-title {
    font-size: 40px;
    font-weight: 300;

}

.articles__list-item__image {
    min-width: 270px;
}

.view-all {
    padding: 12px 41px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #151618;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

.subscribe {
    display: flex;
    justify-content: center;
    background-color: #F7F2EA;
}

.subscribe__container {
    width: 100%;
    max-width: 1200px;
    margin: 100px 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}

.subscribe__description {
    display: flex;
    flex-direction: column;
}

.subscribe__description-action {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.subscribe__description-title {
    margin-bottom: 50px;
    font-family: 'Cormorant', serif;
    font-size: 40px;
    font-weight: 300;
}

.subscribe__description-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 150%;
    color: #151618;
}

.privacy__terms {
    display: flex;
}

.privacy__terms-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    line-height: 18px;
    color: #151618;
}


.subscribe__background-image {
    position: absolute;
    right: 0;
    align-self: center;
}

.subscribe__button-submit {
    padding: 12px 41px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #151618;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

.checkbox-label {
    padding-right: 10px;
}


.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    max-width: 580px;
}

.form__field-input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: normal;
    width: 100%;
    max-width: 440px;
    border: 0;
    border-bottom: 2px solid #B8B58B;
    outline: 0;
    color: #B8B58B;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: #B8B58B;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 20px;
        cursor: text;
        top: 20px;
    }
}


.prioritise {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prioritise__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 150px 0;
    align-items: center;
}

.prioritise__list {
    display: flex;
    flex-direction: row;
    gap: 0 50px;
    flex-wrap: wrap;
}

.prioritise-title {
    font-family: Cormorant, serif;
    font-size: 40px;
    font-style: normal;
    line-height: 48px;
    font-weight: 300;
    margin-bottom: 60px;
}

.prioritise__list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: fit-content;
}

.prioritise__list-item__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    line-height: 41px;
    padding-bottom: 8px;

}

.prioritise__list-item__description {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 27px;
    padding-bottom: 6px;
}

.prioritise__list-item__image {
    width: 100%;
    height: 100%;
    max-width: 60px;
    max-height: 60px;
    margin-top: 32px;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F2EA;
}

.footer__wrapper {
    width: 100%;
    max-width: 1600px;
    margin: 100px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer__description {
    display: flex;
    gap: 0 200px;
}

.footer__bottom {
    display: flex;
    justify-content: space-evenly;
    /*gap: 0 200px;*/
}

.payments__methods {
    display: flex;
    gap: 0 20px;
}

.copyright {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__title {
    padding-right: 13px;
    padding-bottom: 50px;
    font-family: 'Cormorant', serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

.company {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.company__title {
    padding-right: 64px;
    padding-bottom: 50px;
    font-family: 'Cormorant', serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

.footer-blockquote {
    font-size: 16px;
    max-width: 270px;
    width: 100%;
    font-style: italic;
    margin-bottom: 100px;
}

.quote-author {
    font-size: 12px;
    margin-top: 20px;
    font-weight: 300;
}

.contacts__wrapper {
    display: flex;
    gap: 0 40px;
    margin-top: 40px;
}

.contacts__list-item {
    gap: 0 10px;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px 0;
    /*margin-right: 37px;*/
}

.contacts__list-item__image {
    width: 24px;
    height: 24px;
}

.contacts__list-item__email {
    font-size: 13px;
}

.contacts__list-item__phone {
    font-size: 13px;
}

.in__touch {
    width: 100%;
    max-width: 270px;
}

.in__touch-title {
    font-family: 'Cormorant', serif;
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 29px;
    font-style: normal;
    font-weight: 400;

}


.in__touch-text {
    font-size: 13px;
}

.footer__contacts {
    display: flex;
    gap: 0 40px;
}

.contacts__list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
}

.contacts__list-item {
    display: flex;
}

.social__media {
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
}

.social__media-logo {
    width: 24px;
    height: 24px;
}
